html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  /* background-color: #9e853f; */
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*this class is for the element animated-arrow it makes it appear at the bottom*/
.visible-arrow {
  margin-left: 46%;
  margin-right: auto;
  margin-bottom: 3em;
  width: 8%;
  height: auto;
  z-index: 1;
}

/* Question: Why display hidden has very strange behavoir here??? */
.hidden-arrow {
  visibility: hidden;
}

.box-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh
}

.box-container-upper {

}
.box-container-lower {
  background-image: url("images/background_mobile_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.lower-flex-item{
  display: flex;
  flex-direction: column;
}
.form-item{
}
.first-image {
  /* putting display blok on the image solves the problem of seeing a part of the div it is inside */
  display: block;
  width: 100%;
  height: auto;
}

.title {
  color: #f3afcb;
  white-space: nowrap;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}
